name: test2
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  intl: ^0.19.0
  connectivity_plus: ^6.1.5   # allows for dart to see what type of connection there is
  internet_connection_checker_plus: ^2.3.0  # allows for dart to determine whether a connection
  # is possible or not
  bcrypt: ^1.1.3    # installs the bcrypt library for hashing

  cupertino_icons: ^1.0.8
  http: ^1.5.0
  dio: ^5.9.0
  flutter_secure_storage: ^9.2.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/    # all images in the folder will be compiled into main program

  fonts:
    - family: FunnelDisplay
      fonts:
        - asset: fonts/FunnelDisplay-Medium.ttf